@mixin button{
  background:$dark-gray-default-theme;
  color:$white;
  font-size:16px;
  font-weight:600;
  padding:10px;
  white-space: normal;
  cursor: pointer;
  &:focus, &:hover{
    background:transparent;
    color:$dark-gray-default-theme;
    font-weight:600;
    border: 1px solid $dark-gray-default-theme;
  }
}

@mixin field-label-node{
  .field-label{
    font-weight:600;
    margin-right:5px;
    &:after{
      content:':';
    }
  }
}

@mixin label-form{
  label{
    font-weight:600;
  }
  .counter{
    font-size:14px;
    text-align: left;
  }
  input{
    margin:10px 0;
  }
}


@mixin table-default-theme{
  width: 100%;
  border-collapse: collapse;

  th,td {
    padding: 8px;
    border: 1px solid $dark-gray-default-theme;
    text-align: center;
    a{
      color:$dark-gray-default-theme;
      overflow-wrap:anywhere;
    }
    ul{
      margin:0;
      li{
        list-style:none;
      }
    }
  }
  td{
    .form-actions.js-form-wrapper.form-wrapper{
      .form-submit{
        margin:0;
      }
    }
    .dropbutton-wrapper{
      background-color: transparent;
      display: inline-block;
      margin: 0;

    }
    .dropbutton-multiple{
      margin-right:0!important;
      padding-right:0!important;
      max-width:165px!important;
      display:flex;
      justify-content: center;
      left:23%!important;
      &.open{
        height:auto;
        padding:0;
        position:relative!important;
        background:transparent;
        .dropbutton-widget{
          padding:10px 20px;
          height:auto;
          background:$white!important;
          position:relative!important;
          ul.dropbutton {
            list-style: none;
            padding: 0;
            margin: 0;
            display: inline-block;
            position: absolute;
            top:0;
            left: 0;
            background-color:$white;
            border: 1px solid $black;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            border-radius: 4px;
            min-width: 150px;
            z-index: 1;

            li {
              a {
                display: block;
                padding: 10px 15px;
                text-decoration: none;
                color: $black;
                transition: background-color 0.2s;
                &:hover {
                  opacity:0.5;
                }
              }
            }
          }
        }
      }
    }
  }

  thead th {
    background-color:$medium-gray;
    font-weight: bold;
  }
  tbody tr:nth-child(even) {
    background-color: transparent;
  }
}

@mixin title-bolder-default{
  font-weight:bold;
  text-transform:uppercase;
  text-align:center;
  font-size:18px;
  overflow-wrap: anywhere;
  font-family: 'Chakra Petch', sans-serif;
}
