footer{
  flex-shrink: 0;
  position: relative;
  height: auto;
  width:100%;
  background:$dark-gray-default-theme;
  color:$medium-gray;
  menu{
    display: inline-flex;
    li{
      list-style:none;
      a{
        color:white;
      }
    }
  }
}

@include breakpoint(small down) {
  .footer-wrapper-menu > div{
    display:flex;
    flex-direction: column;
      .menu{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom:10px;
          .menu{
            li{
              a{
                line-height: 26px;
              }
            }
          }
      }
  }
}
