//certificate.
.field--node-field-employee,
.field--node-field-limit-,
.field--node-field-current-state-certificate,
.field--node-field-type-certificate,
.field--node-field-start-date-certificate,
.field--node-field-use-up,
.field--node-field-approver,
.field--node-field-duration-of-the-paid-vacat,
.field--node-field-employee-sender,
.field--node-field-reason-vacation,
.field--node-field-type-vacations,
.field--node-field-request-state,
.field--node-field-duration-example,
.field--node-field-duration-not-paid-vacation,
.field--node-field-duration-notpaid-in-hours,
.field--node-field-certificate,
.field--node-field-status-transactions{
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  flex-wrap: nowrap;

  .field-label {
    font-weight: 600;
    font-size: 18px;

    &:after {
      content: ':';
    }
  }

  .field__item {
    font-size: 18px;
  }

  @include field-label-node;
}

//Vacation request.
.views-exposed-form.bef-exposed-form{
  display: flex;
  align-items: flex-end;
  .js-form-item{
    margin-right:5px;
  }
  select{
    max-width: fit-content;
  }
}

table{
  td{
    .workflow-button-published{
      display:none!important;
    }
  }
}

.field--node-field-request-state{
  form{
    .workflow-button-published{
      display:none!important;
    }
    input{
      margin-bottom:0;
    }
  }
}

.field--node-field-approver{
  .field__items{
    display:flex;
    flex-direction: row;
    .field__item{
      margin-right:5px;
    }
  }
}

//Approvers form.
.field--name-field-approver {

  table {
    margin-bottom: 0;
  }

  //Button "Add another item".
  .field-add-more-submit {
    font-size: 14px;
    font-weight: 400;
    overflow-wrap: anywhere;
    padding: 10px;
  }

  .js-form-item {
    .tabledrag-toggle-weight-wrapper {
      //Show row weight hidden.
      button {
        display: none;
      }
    }

    //Table for input link.
    .field-multiple-table.responsive-enabled {
      //Header table.
      thead {
        border: none;
        display: none;
      }

      td {
        padding: 0;
        border: none;
        text-align: left;
      }

      //Body table.
      tbody {
        //tr:not(:first-child) {
        //  label {
        //    display: none;
        //  }
        //}

        td {
          padding: 0;
        }

        border: none;

        .draggable {
          .field-multiple-drag {
            display: none;
          }

          //Title "URL".
          label {
            font-size: 20px;
            font-weight: 600;
          }

          .js-form-type-url {
            .help-text {
              display: none;
            }
          }
        }
      }

    }
  }
}

.smartdate--time-inline {
  display: flex;
  align-items: center;
  h4{
    margin-right:5px;
    font-size:18px;
  }
}

.js-form-item-field-duration-not-paid-vacation-0-duration{
  select{
    max-width: fit-content;
  }
  .smartdate--widget.allday-label {
    float: left;
    margin: 0.1em 2.2em 0.75em -62px;
  }
}

.field--name-field-type-vacations{
  select{
    max-width: fit-content;
  }
}

#block-views-block-transaction-in-request-block-1{
  max-width:1500px;
  margin: 0 auto;
  h2{
    font-size:20px;
    text-align:center;
  }
}

.views-exposed-form{
  display: flex;
  align-items: flex-end;
  .js-form-item-field-request-state-value{
    select{
      max-width: fit-content;
      margin-right:5px;
    }
  }
}


















.node-mission-form {
  #edit-preview {
    display: none;
  }

  .js-form-type-vertical-tabs {
    .vertical-tabs__panes {
      padding: 0;
    }
  }

  #edit-group-choose-doer {
    #edit-field-assigned--wrapper {
      margin: 0;
      padding: 0;
      border: none;

      legend {
        display: none;
      }
    }
  }

  .field-group-fieldset {
    #edit-field-reward--wrapper {
      padding: 0;
      margin: 0;
      border: none;

      legend {
        display: none;
      }
    }
  }

  .field--name-field-state {
    #edit-field-state {
      width: 200px;
    }
  }
}

.block-field-blocknodemissionfield-state {
  .field--name-field-state {
    display: flex;
    align-content: center;
    flex-direction: row;
    @include field-label-node;
    .field__item, .field-label {
      font-size: 18px;
    }

    //Change state mission form.
    form {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      cursor: pointer;

      .js-form-item {
        margin-right: 5px;

        label {
          display: none;
        }

        select {
          max-width: 200px;
          width: 100%;
          margin: 0;
        }
      }

      .form-actions.js-form-wrapper.form-wrapper {
        input {
          font-size: 14px !important;
          margin: 0;
          padding: 11px;
          cursor: pointer;
        }
      }
    }
  }
}

///Title mission.
.block-field-blocknodemissiontitle {
  max-width: 1500px;
  margin: 20px 0;
  @include title-bolder-default;
}

//Field mission.
.field--node-field-end-date,
.field--node-field-group,
.field--node-field-doer,
.field--node-field-type-mission,
.field--node-field-number-of-points {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  flex-wrap: nowrap;

  .field-label {
    font-weight: 600;
    font-size: 18px;

    &:after {
      content: ':';
    }
  }

  .field__item {
    font-size: 18px;
  }

  @include field-label-node;
}

.field--node-field-description-mision {
  margin: 30px 0;
  @include field-label-node;

  .field-label {
    font-size: 18px;
  }

  p a {
    text-decoration: underline;
  }

  p,
  li,
  a,
  span {
    font-size: 16px;
    line-height: 31px;
    margin: 0;
    overflow-wrap: anywhere;
  }
}

//Comment in mission.
.block-field-blocknodemissionfield-comments-to-the-mission {
  margin-top: 30px;

  h2 {
    font-size: 20px;
    font-weight: 600;
  }

  .comment-comment-form {
    .js-filter-wrapper {
      .filter-help {
        a, label {
          font-size: 16px;
        }
      }
    }

    .js-filter-wrapper {
      display: none;
    }

    .js-form-item {
      label {
        font-size: 20px;
      }
    }
  }
}

//Top block with basic info about mission.
.basic-info-mission {
  .columns {
    border-top: 1px solid $dark-gray-default-theme;
    border-bottom: 1px solid $dark-gray-default-theme;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 6px 0;
  }

  //Badge.
  .views-field-field-icon {
    img {
      max-width: 50px;
      width: 100%;
    }
  }
}

//Comment.
.gamecrm-comment {
  .gamecrm-comment-wrapper {
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    display: grid;
    grid-template-columns: 10% 85% 5%;
    align-items: start;
    border-radius: 5px;
    padding: 10px 20px;
    max-width: 1500px;
    width: 100%;
    margin: 15px 0;
    //User info comment.
    .gamecrm-comment-user {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin: 0 auto;
      //Img.
      &-img {
        max-width: 90px;
        border-radius: 50%;
        height: 90px;
      }

      .contextual-region {
        display: none;
      }

      //Name.
      a {
        font-size: 18px;
        text-decoration: underline;
        overflow-wrap: anywhere;
      }
    }

    //Comment body.
    .gamecrm-comment-body {
      padding: 0 20px;

      &-content {
        font-size: 25px;
        //Text.
        .block-field-blockcommentcommentcomment-body {
          font-size: 16px;
          margin-bottom: 10px;
          font-family: 'Courier Prime', serif;

          p,
          li,
          a {
            font-size: 16px;
            line-height: 30px;
            margin: 0;
            overflow-wrap: anywhere;
          }
        }

        .field--comment-field__commit-url {
          margin: 0;
          @include field-label-node;

          .field-label {
            font-size: 16px;
          }

          .field__item {
            text-decoration: underline;
            line-height: 0.8;

            a {
              font-size: 15px;
              font-weight: 400;
              overflow-wrap: anywhere;
            }
          }
        }
      }

      &-info {
        a {
          font-size: 12px;
          font-weight: 400;
          position: absolute;
          right: 15px;
          bottom: 10px;
        }
      }
    }
  }

  .js-filter-wrapper {
    display: none;
  }
}

//Preview comment.
.comment-comment-form {
  .js-filter-wrapper {
    display: none;
  }
}

.counter {
  font-size: 14px;
}

.ck.ck-editor__main {
  ul {
    li {
      span {
        color: $black;
      }
    }
  }
}

.ck.ck-reset.ck-editor.ck-rounded-corners {
  p {
    color: $black;
    font-size: 14px;
  }

  .ck-editor__editable_inline {
    font-family: 'Courier Prime', serif;
  }
}

#edit-field-description-mision-0-format {
  display: none;
}

#edit-field-end-date-0-value {
  display: flex;
  gap: 15px;
  flex-direction: row;
  @media (max-width: 400px) {
    flex-direction: column;
    gap: 0;
  }
}

//Page "Workflow state".
.workflow-transition-mission_state-container.workflow-transition-container {
  //Select State.
  .js-form-item.form-item-to-sid {
    select {
      width: fit-content;
    }
  }

  .field--node-field-state {
    display: flex;
    @include field-label-node;
  }

  //Table.
  table {
    td {
      .dropbutton-widget {
        padding: 5px 15px !important;
        left: 35%;
        @include button;

        &:after {
          color: $black !important;
        }

        a {
          color: $white;

          &:hover {
            color: $black !important;
          }
        }
      }
    }
  }
}

//Block Revision info.
.vertical-tabs {
  li {
    list-style: none;
  }
}

@include breakpoint(xlarge down) {
  .field--node-field-end-date,
  .field--node-field-group,
  .field--node-field-doer,
  .field--node-field-type-mission,
  .field--node-field-number-of-points,
  .views-field-field-icon,
  .block-field-blocknodemissionfield-state {
    margin: 5px;
  }
}

//1024-640px.
@include breakpoint(large down) {
  .basic-info-mission {
    .columns {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: baseline;
    }
  }
  .gamecrm-comment-wrapper {
    max-width: 500px;
    width: 100%;
    margin: 10px;
    display: grid;
    grid-template-columns: 100% !important;
    justify-items: end;
  }

  .field--node-field-end-date,
  .field--node-field-type-mission {
    margin-top: 5px;
  }

  //Comment.
  .gamecrm-comment-body {
    width: 100%;
  }
}

//640-320px.
@include breakpoint(medium down) {
  .gamecrm-comment-wrapper {
    .gamecrm-comment-body {
      padding: 0 !important;;

      &-content {
        .field--comment-field__commit-url {
          a {
            font-size: 13px;
            font-weight: 400;
          }
        }
      }
    }
  }
}

//320p-0px.
@include breakpoint(small only) {
  //Top block with basic info about mission.
  .basic-info-mission {
    .columns {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
  .gamecrm-comment-body {
    margin: 20px 0;
  }
}
