//Masquarade block.
.masquerade-block-form {
  max-width: 300px;
  width: 100%;

  .js-form-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    #edit-actions {
      margin-left: 5px;
    }
  }
}
.block-vacation-useraccountmenu{
  a{
    color:white;
    &:hover{
      color:white;
      text-decoration: underline;
    }
  }
}

//User cab.
#user-cab{
  display:flex;
  justify-content: center;
  .columns.medium-2{
    padding-right:50px;
  }
}


//Field name user.
.field--user-name {
  font-weight: 600;
  font-size: 25px;
  text-decoration: underline;
  text-align:center;
}

.block-field-blockuseruserfield-first-name,
.block-field-blockuseruserfield-second-name{
  display: inline-block;
}
.field--user-field-role,
.field--user-field-group,
.field--user-field-teams,
.field--user-field-position,
.field--user-field-limit-of-weekends-per-year,
.field--user-field-balance-current-day,
.field--user-field-bonus-days,
.field--user-field-balance-a-vacations-day{
  display:flex;
  p{
    margin:0;
  }
  @include field-label-node;
}

//Img.
.field--user-field-user-picture {
  img {
    border-radius: 50%;
    height: auto;
  }
}

.field--name-mail,
.field--type-email{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  overflow-wrap: anywhere;
  @include field-label-node;

  .field__item {
    margin-left: 5px;
    a {
      color: $black;
      overflow-wrap: anywhere;
      &:hover {
        opacity:0.5;
      }
    }
  }
}

//Page create account.
.user-register-form.user-form, .user-pass {
  max-width: 1000px;
  margin: 0 auto;

  #field_user_picture-media-library-wrapper {
    #field_user_picture-media-library-wrapper--description, p {
      font-size: 16px;
    }
  }
}


//Edit Account.
.user-form{
  input{
    margin: 5px 0 !important;
  }
  .js-form-item{
    @include label-form;
  }
  .field--name-field-user-picture{
    .form-submit{
      padding: 5px 15px;
      font-size: 18px;
      font-weight: 600;
    }
  }
  .password-strength__title, .password-confirm, .file--image a, .file-size{
    font-size: 16px;
  }
}
.user-pass{
  & > p{
    margin-top: -5px;
    font-size: 0.8125rem;
    font-style: italic;
  }
}

#edit-account,
#edit-timezone,
#edit-contact{
  margin:10px 0;
}

@include breakpoint(small only) {
  //Field Rewards.
  .block-views-blockuser-rewards-block-1 {
    .gamecrm-view-rewards-rows {
      .views-field-field-icon {
        img {
          max-width: 60px;
        }
      }
    }
  }
  .field--user-mail {
    flex-wrap:wrap;
    .field-label{
      font-size:16px;
    }
    .field__item {
      margin: 0;
      font-size: 16px;
    }
  }
  //Account Edit.
  .user-form{
    .password-confirm{
      margin-bottom:10px;
    }
  }
}

//Edit user profile.
#field_user_picture-media-library-wrapper--description,
.media-library-widget-empty-text{
  font-size:14px;
}

.password-suggestions{
  font-size:14px;
  li{
    list-style:circle;
  }
}










